<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129405015851-5qjvtmotj6hp7qg598kjlohh6f4rb3c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129405015851-5qjvtmotj6hp7qg598kjlohh6f4rb3c3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPbllBLVuPSMJeJ6NmGgBOSoH-7nH-PQk</string>
	<key>GCM_SENDER_ID</key>
	<string>129405015851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bdk</string>
	<key>PROJECT_ID</key>
	<string>bloodappnasru</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodappnasru.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129405015851:ios:5d125496dbd392003c176e</string>
</dict>
</plist>